* {
	margin: 0 auto;
}
body {
	display: flex;
	align-items: center;
	height: 100vh;
}
body > div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}
#currentScoreArea {
	width: 20%;
}
#questionNAnswerArea {
	width: 60%;
}
#scoringSection {
	width: 20%;
}
#scoringMeter > div {
}
#questionArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
